* {
  padding: 0;
  margin: 0;
}

.heading {
  font-weight: 600;
  font-size: 25px;
}

.subHeading {
  font-weight: 600;
  font-size: 15px;
}

.subHeading2 {
  font-size: 12px;
}

/* navbar */
.custom-navbar {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  background-color: #f0f0f0;
  padding: 5px;
}

.navbar-brand {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.contact-container {
  display: flex;
  gap: 5px;
  align-items: center
}

.contact {
  height: 30px;
}

.contact-title {
  font-size: 15px;
  font-weight: 600;
}

.contact-subtitle {
  font-size: 10px;
}




/* hero div */
.hero-div {
  height: 20vh;
  background-color: #000;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-div-title {
  padding-top: 20px;
  font-weight: 500;
  color: white;
  text-align: center;
  font-size: 25px;
  text-transform: capitalize;
}

.hero-div-subTitle {
  font-size: 18px;
  color: white;
  text-align: center;
}

.div3 {
  background-color: #fff;
  text-align: center;
  padding-top: 20px;
}

input {
  background-color: transparent;
  border: 0.1px solid;
  height: 30px;
  width: 20%;
  color: #CCC;
  margin: 10px 0;
  padding-left: 5px;
}

.div3-btn {
  background-color: orange;
  color: #FFF;
  padding-left: 20px;
  padding: 5px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* div2 */
.div2 {
  padding-top: 100px;
  padding-bottom: 20px;
  background-color: #e7e3e3;
  text-align: center;
}

.div2-header {
  padding: 0 150px;
}

/* cards */
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.image-container img p {
  justify-content: space-between;
  width: 100px;
  height: 100px;
  object-fit: cover;
}



/* div2 end */

/* div3  */



/* div3 end */


/* div4 */
.div4 {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #e7e3e3;
  text-align: center;
}

.div4-header {
  padding: 10px 150px;
}

/* cards */
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.image-container img p {
  justify-content: space-between;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
/* div4 end */

/* div5 */
.div5 {
  background-color: #fff;
  text-align: center;
  padding: 20px 0 50px 0;
}
.floating-text {
  background-color: rgba(248, 129, 2, 255);
  color: white;
  padding: 14px;
  margin: 18px 52px;
}

/* .exports {
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: center;

}

.profile img {
  border-radius: 50%;
}

.details {} */
.div5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  text-align: center;
  padding-bottom: 50px;
}

.div5-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 33%;
}
.main-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  padding: 20px 0px;
  width: 100%;
  box-sizing: border-box;

}

.heading-text{
  text-align: center;
}
.inner-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  margin: 10px;
}
.div-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* div5 end */


/* div6 */
.div6 {
  background-color: #e7e3e3;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

/* div6 end*/

/* div7 */
.div7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.div7-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.div7-hero-img {
  width: 300px;
  justify-content: center;
  align-items: center;

}


/* div7 end */

/* footer */
footer {
  background-color: #e7e3e3;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

footer a {
  text-decoration: none;
}

/* footer end */


.floatBtn {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  float: right;
  top: 75%;
  background-color: royalblue;
  right: 0%;
  width: 60px;
  height: 40px;
  padding-left: 5px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: #FFF;
  font-size: 10px;
}






.floating-div {
  width: 30%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
}

.floating-div h5,
.floating-div button {
  font-size: 0.8em;
}

@media (max-width: 768px) {
  .floating-div {
    width: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 425px) {
  .floating-div {
    width: 70%;
    margin-top: 15%;
    font-size: small;
    transform: translate(-50%, -50%);
  }
}


@media (max-width: 430px) {
  .floating-div {
    width: 70%;
    /* Increase the width to better fit the content */
    font-size: 0.75em;
    /* Adjust the font size as needed */
    margin-top: 15%;
    /* Increase the top margin for better spacing */
  }
}

@media (max-width: 320px) {
  .floating-div {
    margin-top: 5px;
    /* Add a top margin of 5px */
  }
}

@media (max-width: 375px) {
  .floating-div {
    margin-top: 20%;
    /* Add a top margin of 5px */
  }
}
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    gap: 10px;
  }
}



@media (max-width: 768px) {
  .hero-div {
    height: 30vh;
  }

  .hero-div-title {
    font-size: 20px;
  }

  .hero-div-subTitle {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .hero-div {
    height: 40vh;
  }

  .hero-div-title {
    font-size: 18px;
  }

  .hero-div-subTitle {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .image-container {
    flex-direction: column;
  }

  .image-container img {
    width: 100%;
    height: 200px;
  }

  .image-container div {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .div2-header {
    padding: 0;
  }

  .heading {
    font-size: 20px;
  }

  .subHeading {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .div2-header {
    padding: 0;
    /* Ensure no padding for very small devices */
  }

  .heading {
    font-size: 18px;
    /* Further adjust font size for even smaller screens */
  }

  .subHeading {
    font-size: 10px;
    /* Further adjust font size for even smaller screens */
  }
}

@media(max-width: 768px) {
  input {
    height: 30px;
    width: 30%;
  }

  ::placeholder {
    text-align: center;
  }

  ::-webkit-input-placeholder {
    text-align: center;
  }
}

@media(max-width: 480px) {
  input {
    height: 30px;
    width: 60%;
  }

  ::placeholder {
    text-align: center;
  }

  ::-webkit-input-placeholder {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .image-container {
    flex-direction: column;
  }

  .image-container img {
    width: 100%;
    height: 200px;
  }

  .image-container div {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .div2-header {
    padding: 0;
  }

  .heading {
    font-size: 20px;
  }

  .subHeading {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .div4-header {
    padding: 0;
    /* Ensure no padding for very small devices */
  }

  .heading {
    font-size: 18px;
    /* Further adjust font size for even smaller screens */
  }

  .subHeading {
    font-size: 10px;
    /* Further adjust font size for even smaller screens */
  }
}
